=render layout: "shared/row_devise" do 

  %h2 Change your password

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|

    -unless devise_error_messages!
      .alert.alert-danger
        %strong 
          Failed
        = devise_error_messages!

    = f.hidden_field :reset_password_token
    
    .field
      = f.label :password, "New password", for: "inputPassword", class: "sr-only"
      %br/
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, class: "form-control", placeholder: "Password", autofocus: true, autocomplete: "off"
    
    .field
      = f.label :password_confirmation, "Confirm new password", for: "inputPassword", class: "sr-only"
      %br/
      = f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation", autocomplete: "off"
    
    .actions
      = f.submit "Change my password", class: "btn btn-primary btn-block"
  = render "devise/shared/links"
