= render layout: "shared/row_devise" do

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"form-sigin"}) do |f|
    
    %h2.form-sigin-heading Log in

    -unless @user.errors.empty?
      %ul
        -@user.errors.each do |error|
          %li 
            = error.full_message
            = "error"
    
    /
      -unless devise_error_messages!.empty?
        .alert.alert-danger
          %strong 
            Login Failed
          = devise_error_messages!

    .field
      = f.label :email, for: "inputEmail", class: "sr-only"
      %br/
      = f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true
    .field
      = f.label :password, for: "inputPassword", class:"sr-only"
    %br/
    
    = f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off"
    
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    
    .actions
      = f.submit "Log in", class: "btn btn-lg btn-primary btn-block"
 
  = render "devise/shared/links"
