.col-sm-9.col-md-10.main
  %h3
    .col-sm-6.col-md-6
      -if @matches.empty?
        = "No Match Available "
      -elsif params[:tournament_id]
        ="#{@matches.first.tournament.name} Matches"
      -else
        ="#{@matches.first.game.name.capitalize} Matches"
    .col-sm-3.col-md-3.col-sm-offset-3.col-md-offset-3
      -if can? :create, Match
        -if params[:tournament_id]
          = link_to "Create New", new_tournament_match_path(@tournament.id), class: "btn btn-sm btn-primary"
        -else
          = link_to "Create New", new_game_match_path(@game.id), class: "btn btn-sm btn-primary"
  -unless @matches.empty?
    %table.table
      %thead
        %tr
          %th Name
          %th Venue
          %th Winner
          %th Played On
      %tbody
        - @matches.each do | match |
          %tr
            %td
              =match.name
            %td
              =match.venue.capitalize
            %td
              =(match.winner) ? match.winner.name : "No Winner"
            %td
              =match_date(match)
            %td
              -if can? :update, match
                -if params[:game_id]
                  =link_to "Edit", edit_game_match_path(match.game.id, match.id)
                -elsif params[:tournament_id]
                  =link_to "Edit", edit_tournament_match_path(match.tournament.id, match.id)
            %td
              -if can? :delete, match
                -if params[:game_id]
                  =link_to "Delete", "#delete-modal", "data-toggle":"modal", class: "delete-record" , 'data-delete-id': match.id
                -elsif params[:tournament_id]
                  =link_to "Delete", "#delete-modal", "data-toggle":"modal", class: "delete-record", 'data-delete-id': match.id
            %td
              -if can? :read, Player
                -if params[:game_id]
                  =link_to "Show Players", game_match_players_path(match.game.id, match.id)
                -elsif params[:tournament_id]
                  =link_to "Show Players", tournament_match_players_path(match.tournament.id, match.id)
  
  -if params[:game_id] 
    =render partial: "/shared/delete_model",locals: { partial_url_without_id: game_match_path(params[:game_id], 0) }
  -elsif params[:tournament_id]
    =render partial: "/shared/delete_modal", locals: { partial_url_without_id: tournament_match_path(params[:tournament_id], 0) }
